$purple: #6f5cb6
$vivid-purple: #5e3ed6
$light-purple: #f9f8ff
$dark-purple: #3f3286
$white: #ffffff
$document-color: #4f4f4f
$magenta: #AA3ED6
$magenta-dark: #8F27BA
$yellow: #ffc107


html
  scroll-behavior: smooth

/* Nabar */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link
    color: $white
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover
    color: $yellow

/* Buttons */
.btn-primary
    background-color: $vivid-purple
    border: 1px solid $dark-purple

.btn-outline-primary
    border: 1px solid $vivid-purple
    color: $vivid-purple

.btn-primary:hover, .btn-outline-primary:hover
    background-color: $magenta
    border: 1px solid $magenta-dark


/* Backgrounds & Borders */

.bg-white
    background-color: #ffffff

.bg-light-purple
    background-color: $light-purple

.bg-vivid-purple
    background-color: $vivid-purple

.bg-dark-purple
    background-color: $dark-purple

.border-all
    border: 1px solid black

.border-r
    border-right: 1px solid $dark-purple

.border-b
    border-bottom : 1px solid $dark-purple

.nurse-img
    width: 90%
    height: auto

/* Typography */
body
    color: $document-color

h1, h2, h5
    font-weight: 300

h3, h4
    font-weight: 700

.font-white
    color: $white

.font-purple
    color: $purple

.font-dark-purple
    color: $dark-purple

.incomplete
    color: red

.mailto-dark
    color: $white

.mailto-dark:hover
    color: $yellow

footer
    font-size: 0.8em
