{% extends "boilerplate.njk" %}


    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple px-sm-0 px-lg-5">
        <a class="navbar-brand" href="./index.html">Healthcare Worker Housing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link" href="#cities">Find your city</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="#faq">FAQ / Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <main>
        <section id="landing" class="text-white bg-dark-purple p-lg-5">
            <div class="jumbotron jumbo-fluid text-center">
                <h1 class="slab">Health Worker Housing</h1>
                <p class="lead px-lg-5 m-auto">A volunteer initiative designed to connect <strong>property owners</strong> with <strong>healthcare workers</strong> that are looking for short-term housing during the COVID﻿-﻿19 outbreak</p>
                <a href="#cities"><button class="btn btn-teal font-white py-2 px-lg-5 px-3 my-lg-5 my-3 slab">Find your city</button></a>
            </div>
        </section>

        <!-- Find your city -->

        <section id="cities">
            <div class="container-fluid">
                <div class="row py-4 px-2">
                    <div class="col-lg-6 pl-lg-5 pr-lg-4">
                        <h1 class="font-dark-purple bold slab"><strong>Active Cities</strong></h1>
                        <p>Click on a city below to request local listings, or list a property you&nbsp;own</p>
                        <h2 class="py-1"><a href="./cape-cod/">Cape Cod</a></h2>
                        <h2 class="py-1"><a href="./dfw/">Dallas - Fort Worth</a></h2>
                        <h2 class="py-1"><a href="./la/">Los Angeles</a></h2>
                        <h2 class="py-1"><a href="./nyc/">New York City</a></h2>
                        <h2 class="py-1"><a href="./sd/">San Diego</a></h2>
                        <p>Don't see your city? We welcome volunteers to start a chapter in their own city. Email <a href="{{ mailto_global }}" target="_blank">{{ global_email }}</a> with "New City" in the subject line, and we will help you get started. You only need know how to use email and Google Forms to act as a city coordinator.</p>
                    </div>
                    <div class="col-lg-6 px-lg-5 py-lg-5">
                        <img src="./img/nurse_illustration.png" class="img-fluid mx-auto" alt="Doctor holding n95 mask">
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ -->
        <section id="faq">
            {% include "faq.njk" %}
        </section>
    </main>
    {% endblock %}
    {% block footer %}
    <!-- footer -->
    <footer class="bg-dark-purple py-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 mx-auto">
                    <p class="font-white text-center">This healthworker housing project is a volunteer run initiative. Users of this site are responsible for doing their own due diligence and maintaining liability for any agreements entered.</p>
                    <p class="font-white text-center">To start a housing initiative in your city, contact <a href="{{ mailto_global }}" target="_blank" class="mailto-dark">{{ global_email }}</a></p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
